*{
 margin:0px;
 padding:0px;
}

body {
 background-color: pink;
 margin: 10% 15%;
}

h1{
    border: solid 3px sienna;
    text-align: center;
    padding: 40px;
    font-size: 62px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 24px;
    color:sienna
}

h2{
    text-align: center;
    padding-top: 30px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 12px;
}

h3{
    text-align: center;
    padding-bottom: 30px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 12px;
}

p{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 12px;
    line-height: 24px;
}

.pullquote{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    line-height: 30px;
    color: tomato;
}

#pullquotespecial{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    line-height: 30px;
    color: yellowgreen;
}